<div class="row">
    <div class="col-sm-12">
        <h2>Integration deletion</h2>

        <div class="panel panel-danger">
            <div class="panel-heading">Delete Confirmation</div>
            <div class="panel-body">
                <p>Are you sure you want to delete "{{integration.label}}"? You cannot undo this. Any bulbs associated with this integration will dissappear from your dashboard.</p>

                <div class="pull-right no-margin">
                    <form method="post" class="ui-inline"><input type="submit" class="btn btn-danger" value="Delete"></form>
                    <a href="/dash" class="btn btn-default">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>
