<div class="row">
    <div class="col-sm-12">
        <h2>Authorization Configuration</h2>

        <p>Please label this LIFX account for your future reference.</p>

        {{#if errors}}

        <div class="alert alert-danger">
            <p><strong>There was a problem with these configuration settings.</strong> Please fix the indicated errors.</p>
        </div>

        {{/if}}

        <form action="/auth/label/{{form.id}}" method="post">
            <div class="row">
                <div class="form-group col-sm-12">
                    <label for="label">Label <a href="/manuals/full/#_labelling_2" title="Reference the docs"><span class="glyphicon glyphicon-question-sign" aria-hidden="true" aria-label="Reference the docs"></span></a></label>

                    <input type="text" aria-describedby="label-help" class="form-control" name="label" id="label" value="{{form.label}}">

                    <p id="label-help" class="help-block">E.g., "Jane's LIFX" or "JaneSmith@ivy.edu"</p>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" name="authorize" class="btn btn-default btn-primary" value="Save">
            </div>
        </form>
    </div>
</div>
