<div class="row">
    <div class="col-sm-12">
        <h2>Authorization Configuration Success</h2>

        <div class="alert alert-success">
            <p>Your LIFX account connection was configured successfully. <a href="/dash" class="alert-link">Back to orb dashboard.</a></p>
        </div>
    </div>
</div>
