<div class="row">
    <div class="col-sm-12">
        <h2>Building Data Configuration Complete</h2>

        <div class="alert alert-success">
            <p>Your building data configuration was complete. Please allow time for our administrators to confirm your account details. <a href="/dash" class="alert-link">Back to orb dashboard.</a></p>
        </div>
    </div>
</div>
