<div class="row">
    <div class="col-sm-12">
        <h2>Building Data Connection</h2>

        {{#if errors}}

        <div class="alert alert-danger">
            <p><strong>There was a problem with these configuration settings.</strong> The credentials provided were rejected.</p>
        </div>

        {{/if}}

        <form action="/building-data/config" method="post">
            <div class="row">
                <div class="form-group col-sm-12">
                    <label for="username">Organization Name</label>

                    <input type="text" class="form-control" name="organization" id="organization" placeholder="Organization Name" value="{{form.organization}}">
                </div>
                <div class="form-group col-sm-12">
                    <p>Configuring a BuildingOS account through Environmental Orb only needs to be done once. If a member of your organization already has an Environmental Orb account and has already configured a BuildingOS connection, this step does not have to be done twice.</p>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" id="sample-size-toggler" name="customGroupings" {{#if customSamples}}checked{{/if}} value="true">
                        Somebody from my organization has already configured a BuildingOS account on Environmental Orb.
                      </label>
                    </div>
                </div>

                <div class="form-group col-sm-6">
                    <label for="username">BuildingOS Email</label>

                    <input type="text" class="form-control" name="username" id="username" placeholder="Email" value="{{form.username}}">
                </div>

                <div class="form-group col-sm-6">
                    <label for="password">BuildingOS Password</label>

                    <input type="password" class="form-control" name="password" placeholder="Password" id="password">
                </div>

                <div class="form-group col-sm-6">
                    <label for="clientId">BuildingOS Client ID</label>

                    <input type="text" class="form-control" name="clientId" id="clientId" placeholder="Client ID" value="{{form.clientId}}">
                </div>

                <div class="form-group col-sm-6">
                    <label for="clientSecret">BuildingOS Client Secret</label>

                    <input type="text" class="form-control" name="clientSecret" placeholder="Client Secret" id="clientSecret">
                </div>
            </div>

            <div class="form-group">
                <input type="submit" name="authorize" class="btn btn-default btn-primary" value="Save">
            </div>
        </form>
    </div>
</div>
