<div class="row">
    <div class="col-sm-12">
        <div class="jumbotron">
        <h1>Welcome to Environmental Orb.</h1>
        <p>Trying to learn more about the Environmental Orb or configure your own setup? Start by reading the informational sections{{#if loggedIn}}.{{else}}, then create an account to get started.{{/if}}</p>
        <p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn More</a>
            <a class="btn btn-primary btn-lg" href="/manuals/beginners" role="button">Beginner's Guide</a>
        </p>
    </div></div>
    <div class="col-sm-6">
        <h2>About the Environmental Orbs</h2>
        <p>Orbs are a physical means to communicate current rates of electricity and water consumption relative to normal consumption in a particular location.</p>
        <h2>About Environmental Dashboard</h2>
        <p>The Environmental Dashboard's goal is to make the invisible flows of water and electricity through communities visible and engaging. By including the voices of community members, we link these resource flows to the thoughts and actions of citizens working to build a more vibrant, resilient and sustainable city. Electronic signs and orbs in community spaces and public schools feature the three central components of the Dashboard, which can all be viewed on <a href="http://environmentaldashboard.org/" target="_blank">our <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>.</a> website.</p>
    </div>
    <div class="col-sm-6">
        {{#if loggedIn}}
        <h2>Access your dashboard.</h2>
        {{else}}
        <h2>Sign in</h2>
        {{/if}}

        {{> login}}
    </div>
</div>
