<div class="row">
    <div class="col-sm-12">
        <div class="jumbotron">
        <h1>Welcome to Environmental Orb.</h1>
        <p>Orbs are colored and pulsing displays of light designed to communicate current rates of resource use (usually electricity and water consumption) to building occupants. If you want to learn more or wish to create an account to configure and control orbs click the links below.</p>
        <p>
            <a class="btn btn-primary btn-lg" href="/manuals/intro" role="button">Learn More</a>
            <a class="btn btn-primary btn-lg" href="/manuals/beginners" role="button">Get Started</a>
        </p>
    </div></div>
    <div class="col-sm-6">
        {{#if loggedIn}}
        <h2>Access your dashboard.</h2>
        {{else}}
        <h2>Login</h2>
        {{/if}}

        {{> login}}
    </div>
</div>
