<div class="row docs">
    <div class="col-sm-3">
        <ul class="nav nav-pills nav-stacked ui-nav-stacked">
            {{#each pages}}
            <li{{#if this.active}} class="active"{{/if}}><a href="/manuals/{{@key}}">{{this.label}}</a>
            {{/each}}
        </ul>
    </div>
    <div class="col-sm-9">
        {{{content}}}
    </div>
</div>
