<div class="row">
    <div class="col-sm-12">
        <h2>Guide to Environmental Orbs</h2>

        <ol class="ui-main-list">
            <li>
                <h3>Set up your LIFX account</h3>
                <p>The Environmental Orb uses Wi-Fi enabled LIFX bulbs to display data.  The Environmental Orb configuration dashboard dashboard interacts with LIFX’s server to receive and send information related to the  bulbs. Environmental Orb users need  to set up a LIFX account and configure all  bulbs that they wish to use as orbs. For help on setting up a LIFX account, see <a href="https://support.lifx.com/hc/en-us/articles/213449823-Setting-up-the-LIFX-app" target="_blank">“Setting up the LIFX App.”</a> For help on connecting bulbs to a LIFX account, see <a href="https://support.lifx.com/hc/en-us/articles/204538340-LIFX-Bulb-Setup" target="_blank">“LIFX Bulb Setup.”</a></p>
                <p>LIFX offers varying ways for users to easily recognize their bulbs. Each bulb can be assigned a group, a location, and a name. Assigning these attributes to each of your orbs will make it easier to identify your bulbs on the orb dashboard and in the LIFX app. For help on labelling your bulbs, see <a href="https://support.lifx.com/hc/en-us/articles/207566663-Renaming-a-LIFX-Bulb" target="_blank">"Renaming a LIFX Bulb"</a> and <a href="https://support.lifx.com/hc/en-us/articles/204593514-Moving-bulbs-to-other-groups" target="_blank">"Moving bulbs to other groups"</a></p>
            </li>

            <li>
                <h3>Make an Environmental Orb account</h3>
                <p>Sign up for an Environmental Orb account on the <a href="/account/signup">"Sign up"</a> page.</p>
            </li>

            <li>
                <h3>Configure your dashboard</h3>
                <p>Once you have created and logged into your orb dashboard account, orbs and bulbs can be configured.</p>
                <p>Virtual orbs are configured to display particular data for specific meters. Add a new virtual orb by selecting “Add orb” and follow the onscreen prompts. Virtual orbs take 1-2 meters to gather information from, day sets which group typical usage calculations across specific days, and a sample size variable which indicates how many days are inputted into the typical usage calculation. After adding an orb, a visual representation of that orb will appear on your dashboard.</p>
                <p>Bulbs are configured by assigning a virtual orb. Bulbs that show up on your orb dashboard are ones linked with your LIFX account. Once a bulb is enabled and paired with a virtual orb, the bulb should begin emulating an environmental orb.</p>

                <p>Ready to get started?
                {{#unless loggedIn}}
                <a href="account/signin">Sign in</a> or <a href="account/signup">register for an account.</a>
                {{else}}
                <a href="/dash">Go to your dashboard.</a></p>
                {{/unless}}
            </li>
        </ol>
    </div>
</div>
