<div class="row">
    <div class="col-sm-12">
        <h2>Login</h2>

        {{#if errors}}

        <div class="alert alert-danger">
            {{#each errors.login}}
                <p>{{this}}</p>
            {{/each}}
        </div>

        {{/if}}

        {{> login}}
    </div>
</div>
