<div class="row">
    <div class="col-sm-12">
        <h2>Configuration Complete</h2>

        <div class="alert alert-success">
            <p>Your virtual orb was configured successfully. <a href="/dash" class="alert-link">Back to Environmental Orb dashboard.</a></p>
        </div>
    </div>
</div>
