<div class="row">
    <div class="col-sm-12">
        <h2>Registration Complete</h2>

        <div class="alert alert-success">
            <p>Your registration was completed.</p>
        </div>
    </div>
</div>
