.no-margin {
    margin: 0;
}

.ui-btn-toggle {
    background: #fff;
    display: inline-block;
    border-radius: 4px;
}

.ui-btn-toggle input[type=radio] {
    display: none;
}

.ui-btn-toggle label {
    margin: 0;
}

.ui-btn-toggle input[type=radio]:checked + span {
    background: #5ABA50;
    color: #fff;
}

.ui-alert-action p {
    float: left;
    padding: 6px 12px;
}

.ui-alert-action a.btn {
    float: right;
}

.ui-orb {
    padding-top: 100%;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    background: green;
    display: inline-block;
    width: 100%;
}

.ui-orb:after {
    content: "";
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    background: radial-gradient(circle at 30% 40%, rgba(255, 255, 255, 0), rgba(0, 0, 0, .2));
}

.ui-main-list li {
    font-size: 24px;
    font-weight: bold;
}

.ui-main-list li p {
    font-size: 14px;
    font-weight: normal;
}

.ui-table p {
    margin: 0;
}

.ui-table tr td {
    vertical-align: middle !important;
}

.ui-datagroup-table tr {
    vertical-align: middle;
}

.ui-datagroup-table thead tr th,
.ui-datagroup-table tr td {
    width: 12.5%;
    text-align: center;
    padding: 5px;
    vertical-align: middle;
}

.ui-datagroup-table tr td:first-child {
    text-align: left;
}

.ui-label {
    font-weight: bold;
    margin: 0;
}

/**
 * Quick n' dirty theming...
 */

.ui-navbar {
    background: #5ABA50;
    color: #fff;
    border-color: #418e39;
}

.ui-navbar li > a:link,
.ui-navbar li > a:visited,
.ui-navbar a.navbar-brand {
    color: #fff;
}

.ui-navbar .dropdown li > a:link,
.ui-navbar .dropdown li > a:visited {
    color: #000;
}

.ui-inline {
    display: inline;
}

a {
    color: #5ABA50;
}

a:hover {
    color: #418e39;
}

.btn-primary, .btn-primary:link {
    background: #5ABA50;
    border-color: #418e39;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background: #418e39 !important;
    border-color: #418e39 !important;
}

@media(max-width: 768px) {
    .ui-table thead {
        display: none;
    }

    .ui-table td {
        display: block !important;
        border: 0 !important;
        text-align: center;
    }

    .ui-table td select {
        margin-bottom: 10px;
    }

    .ui-orb-wrap {
        width: 30%;
        margin: 0 auto;
    }
}
