.no-margin {
    margin: 0;
}

.ui-btn-toggle {
    background: #fff;
    display: inline-block;
    border-radius: 4px;
}

.ui-btn-toggle input[type=radio] {
    display: none;
}

.ui-btn-toggle label {
    margin: 0;
}

.ui-btn-toggle input[type=radio]:checked + span {
    background: #5ABA50;
    color: #fff;
}

.ui-alert-action p {
    float: left;
    padding: 6px 12px;
}

.ui-alert-action a.btn {
    float: right;
}

.ui-orb {
    padding-top: 100%;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    background: green;
    display: inline-block;
    width: 100%;
}

.ui-orb:after {
    content: "";
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    background: radial-gradient(circle at 30% 40%, rgba(255, 255, 255, 0), rgba(0, 0, 0, .2));
}

.ui-main-list li {
    font-size: 24px;
    font-weight: bold;
}

.ui-main-list li p {
    font-size: 14px;
    font-weight: normal;
}

.ui-table p {
    margin: 0;
}

.ui-table th {
    position: relative;
    background: #fff;
}

.ui-table th.sort:hover {
    background: rgb(249, 249, 249) !important;
    cursor: pointer;
}

.ui-table th.sort:after {
    content: '\e150';
    color: #ccc;
    position: absolute;
    right: 10px;
    font-family: 'Glyphicons Halflings';
    background: inherit;
    padding: 0 3px;
}

.ui-table th.asc,
.ui-table th.desc {
    background: rgb(220, 270, 220) !important;
}

.ui-table th.asc:hover,
.ui-table th.desc:hover {
    background: rgb(210, 250, 210) !important;
}

.ui-table th.asc:after,
.ui-table th.desc:after {
    color: #000;
    content: '\e152';
    position: absolute;
    right: 10px;
    font-family: 'Glyphicons Halflings';
}

.ui-table th.desc:after {
    content: '\e151';
}

.ui-table th.headerSortDown {

}

.ui-table tr td {
    vertical-align: middle !important;
}

.ui-table-grid tbody {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ui-table-grid tbody tr {
    flex-basis: 24%;
    margin-bottom: 1.5%;
}

.ui-table-grid tbody tr td {
    display: block;
    width: 100%;
    text-align: center;
    border: 0;
}

.ui-table-grid thead {
    display: block;
    margin: 16px 0;
}

.ui-table-grid thead tr {
    display: block;
}

.ui-table-grid thead th {
    display: none;
}

.ui-table-grid thead th.sort {
    display: inline;
    padding: 10px 30px 10px 10px;
    margin-right: 5px;
    border: 0;
    background: #f9f9f9;
    color: #418e39;
}

.ui-table-grid th.sort:before {
    content: 'Sort by ';
    color: #000;
}

.ui-table-grid .ui-orb-wrap {
    width: 30%;
    margin: 0 auto;
}

.ui-datagroup-table tr {
    vertical-align: middle;
}

.ui-datagroup-table thead tr th,
.ui-datagroup-table tr td {
    width: 12.5%;
    text-align: center;
    vertical-align: middle;
}

.ui-datagroup-table tr td:first-child {
    text-align: left;
}

.ui-label {
    font-weight: bold;
    margin: 0;
}

/**
 * Quick n' dirty theming...
 */

.ui-navbar {
    background: #5ABA50;
    color: #fff;
    border-color: #418e39;
}

.ui-navbar li > a:link,
.ui-navbar li > a:visited,
.ui-navbar a.navbar-brand {
    color: #fff;
}

.ui-navbar a.navbar-brand {
    background: url(/images/logo-white.png) left center no-repeat;
    background-size: 15%;
    padding-left: 40px;
    margin-left: 0 !important;
}

.ui-navbar li > a:hover,
.ui-navbar li.open > a:link,
.ui-navbar li.open > a:visited {
    background-color: rgb(75, 175, 60) !important;
}

.ui-navbar li > a:active {
    text-decoration: underline;
}

.ui-navbar li.active > a:link,
.ui-navbar li.active > a:visited,
.ui-navbar li.active > a:hover {
    background-color: rgb(65, 139, 55) !important;
}

.ui-navbar .dropdown li > a:link,
.ui-navbar .dropdown li > a:visited {
    color: #000;
}

.ui-navbar .dropdown-menu li > a:hover {
    color: #fff;
}

.ui-inline {
    display: inline;
}

a {
    color: #5ABA50;
}

a:hover {
    color: #418e39;
}

.btn-primary, .btn-primary:link {
    background: #5ABA50;
    border-color: #418e39;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background: #418e39 !important;
    border-color: #418e39 !important;
}

.ui-footer {
    margin: 20px auto;
}

.ui-footer .row-wrap {
    position: relative;
    width: 100%;
    padding: 20px 0;
    margin-right: 0;
}

.ui-footer .row-wrap:before {
    display: block;
    content: "";
    height: 1px;
    position: absolute;
    left: 15px;
    top: 0;
    right: 15px;
    background: rgb(210, 210, 210);
}

.ui-footer .row p {
    margin-bottom: 0;
}

.ui-footer .ui-footer-logo {
    width: 40px;
    margin: 0 10px 0 0;
}

.ui-footer ul.footer-nav {
    list-style-type: none;
    padding: 0;
}

.ui-footer ul.footer-nav li {
    float: left;
    margin: 0 20px 0 0;
    position: relative;
}

.ui-footer ul.footer-nav li:after {
    content: "•";
    position: absolute;
    top: 0;
    right: -12px;
}

.ui-footer ul.footer-nav li:last-of-type:after {
    content: "";
}

.ui-footer ul.footer-nav.pull-right li {
    margin: 0 0 0 20px;
}

@media(max-width: 768px) {
    .ui-navbar a.navbar-brand {
        margin-left: 10px !important;
    }

    .ui-table thead th {
        display: none;
        color: #418e39;
    }

    .ui-table td, .ui-table th.sort {
        display: block !important;
        border: 0 !important;
        text-align: center;
    }

    .ui-table th.sort:before {
        content: 'Sort by ';
        color: #000;
    }

    .ui-table td select {
        margin-bottom: 10px;
    }

    .ui-table-grid thead {
        margin: 0;
    }

    .ui-table-grid thead th.sort {
        margin-right: 0;
        padding: 8px;
        background: #fff;
    }

    .ui-table-grid tbody {
        display: table-row-group;
    }

    .ui-orb-wrap {
        width: 30%;
        margin: 0 auto;
    }

    .ui-footer .col-sm-6 {
        width: 100%;
        clear: both;
    }

    .ui-footer .col-sm-6.pull-right .pull-right {
        float: left !important;
        width: 100%;
    }

    .ui-footer ul.footer-nav.pull-right li{
        margin: 0 20px 0 0 !important;
    }
}
