<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="icon" href="images/logo.png">


    {{#if additionalStylesheets}}

    {{#each additionalStylesheets}}
    <link rel="stylesheet" type="text/css" href="{{this}}">
    {{/each}}

    {{/if}}

    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>

    <style type="text/css">

    .no-margin {
        margin: 0;
    }

    .ui-rounded-container .ui-rounded-item-wrap {
        text-align: center;
        padding: 10px;
    }

    .ui-rounded-container .ui-rounded-item-wrap .ui-rounded-item {
        background: #eee;
        border-radius: 10px;
        padding: 10px;
    }

    .ui-rounded-container .ui-rounded-item-wrap .ui-rounded-item .ui-rounded-icon {
        font-size: 3em;
    }

    .ui-rounded-container .ui-rounded-item-wrap .ui-rounded-item .ui-rounded-icon p {
        margin: 0;
    }

    .ui-btn-toggle {
        background: #fff;
        display: inline-block;
        border-radius: 4px;
    }

    .ui-btn-toggle input[type=radio] {
        display: none;
    }

    .ui-btn-toggle label {
        margin: 0;
    }

    .ui-btn-toggle input[type=radio]:checked + span {
        background: #5ABA50;
        color: #fff;
    }

    .ui-alert-action p {
        float: left;
        padding: 6px 12px;
    }

    .ui-alert-action a.btn {
        float: right;
    }

    .ui-orb {
        padding-top: 100%;
        border-radius: 50%;
        position: relative;
        margin: 0 auto;
        overflow: hidden;
        background: green;
    }

    .ui-orb:after {
        content: "";
        position: absolute;
        top: 0; bottom: 0; left: 0; right: 0;
        background: radial-gradient(circle at 30% 40%, rgba(255, 255, 255, 0), rgba(0, 0, 0, .2));
    }

    .ui-main-list li {
        font-size: 24px;
        font-weight: bold;
    }

    .ui-main-list li p {
        font-size: 14px;
        font-weight: normal;
    }

    .ui-table tr:nth-child(2n) {
        background: rgb(245, 245, 245);
    }

    .ui-table td {
        width: 12.5%;
        text-align: center;
        padding: 5px;
    }

    .ui-table .ui-table-left {
        text-align: left;
    }

    /**
     * Quick n' dirty theming...
     */

    .ui-navbar {
        background: #5ABA50;
        color: #fff;
        border-color: #418e39;
    }

    .ui-navbar li > a, .ui-navbar a.navbar-brand {
        color: #fff !important;
    }

    a {
        color: #5ABA50;
    }

    a:hover {
        color: #418e39;
    }

    .btn-primary, .btn-primary:link {
        background: #5ABA50;
        border-color: #418e39;
    }

    .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
        background: #418e39 !important;
        border-color: #418e39 !important;
    }

    </style>

    <title>Environmental Orb</title>
</head>

<body>
    <div class="page-wrap">
        <header>
            <nav class="navbar navbar-inverse navbar-static-top ui-navbar">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">Environmental Orb</a>
                    </div>

                    <ul class="nav navbar-nav navbar-right">
                        {{#if loggedIn}}
                        <li><a>{{loggedIn.email}}</a></li>
                        <li><a href="/guide">Guide</a></li>
                        <li><a href="/dash">Dashboard</a></li>
                        <li><a href="/account/signout">Sign out</a></li>
                        {{else}}

                        <li><a href="/guide">Guide</a></li>
                        <li><a href="/account/signin">Login</a></li>
                        <li><a href="/account/signup">Sign up</a></li>

                        {{/if}}
                    </ul>
                </div>
            </nav>
        </header>

        {{{body}}}
    </div>
</body>
</html>
