<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Password change</h2>

            {{#if errors}}

            <div class="alert alert-danger">
                <p><strong>There was a problem with your configuration.</strong> Please check for errors.</p>
            </div>

            {{/if}}

            <form method="post">
                <div class="form-group">
                    <label for="password">Current password</label>
                    <input type="password" required class="form-control" aria-describedby="pwd-help" name="password" id="password" placeholder="Password">
                </div>

                {{#if errors.auth}}

                <div>
                    <div class="alert alert-warning">
                        {{#each errors.auth}}
                            <p>{{this}}</p>
                        {{/each}}
                    </div>
                </div>

                {{/if}}

                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="newPassword">New password</label>
                        <input type="password" required minlength="5" class="form-control" aria-describedby="pwd-help" name="newPassword" id="newPassword" placeholder="Password">
                        <p id="pwd-help" class="help-block">Minimum 5 characters.</p>
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="confirm">Confirm new password</label>
                        <input type="password" required minlength="5" class="form-control" name="confirm" id="confirm" placeholder="Confirm Password">
                    </div>
                </div>

                {{#if errors.password}}

                <div>
                    <div class="alert alert-warning">
                        {{#each errors.password}}
                            <p>{{this}}</p>
                        {{/each}}
                    </div>
                </div>

                {{/if}}

                {{#if errors.confirm}}

                <div>
                    <div class="alert alert-warning">
                        {{#each errors.confirm}}
                            <p>{{this}}</p>
                        {{/each}}
                    </div>
                </div>

                {{/if}}

                <div class="form-group">
                    <input type="submit" name="register" class="btn btn-default btn-primary" value="Update">
                </div>
            </form>
        </div>
    </div>
</div>
