<div class="row">
    <div class="col-sm-12">
        <h2>Configuration Complete</h2>

        <div class="alert alert-success">
            <p>Your account has been updated. <a href="/account" class="alert-link">Back to account overview.</a></p>
        </div>
    </div>
</div>
