<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Authorization</h2>

            <div class="panel panel-default">
                <div class="panel-heading">Authorization Confirmation</div>
                <div class="panel-body">
                    <p>To authorize your account to access your WiFi bulbs, you will be redirected to a third party website hosted by LIFX and prompted for your LIFX credentials. Press <strong>"Ok"</strong> to continue.</p>

                    <p>Note: this prerequires you to set up a LIFX Cloud account. Additionally, the process will be easier if you've already connected your bulbs with your LIFX Cloud account. For help, see the resources below.</p>

                    <ul>
                        <li><a href="https://support.lifx.com/hc/en-us/articles/213449823-Setting-up-the-LIFX-app" target="_blank">Setting up the LIFX App</a>
                        <li><a href="https://support.lifx.com/hc/en-us/articles/204538340-LIFX-Bulb-Setup" target="_blank">LIFX Bulb Setup</a>
                    </ul>

                    <p class="pull-right no-margin">
                    <a href="/auth" class="btn btn-primary">Ok</a>
                    <a href="/dash" class="btn btn-default">Back to orb dashboard</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
