<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <h2>Bad request</h2>
            <p>Something went wrong.</p>
        </div>
    </div>
</div>
