<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <h2>Orb Dashboard</h2>
            <h3>Your Orbs</h3>

            <div class="container-fluid ui-rounded-container">
                {{#each orbs}}
                <div class="col-sm-2 ui-rounded-item-wrap">
                    <div class="ui-rounded-item">
                        <div class="ui-rounded-icon">
                            <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
                        </div>
                        <p><a href="/dash/orb/{{this.id}}">{{this.title}}</a></p>
                    </div>
                </div>
                {{/each}}

                <div class="col-sm-2 ui-rounded-item-wrap">
                    <div class="ui-rounded-item">
                        <div class="ui-rounded-icon">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </div>
                        <p><a href="/dash/orb/new">Add an orb</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
