<div class="container-fluid">
    <div class="col-sm-8 col-sm-offset-2">
        <h2>Environmental Orb Guide</h2>

        <ol class="ui-main-list">
            <li>
                <h3>Set up your LIFX account</h3>
                <p>The Environmental Orb interface interacts with LIFX’s server to receive information pertaining to a user’s configured bulbs. Environmental Orb users will want to have a LIFX account with already-configured bulbs. For help on setting up a LIFX account, see <a href="https://support.lifx.com/hc/en-us/articles/213449823-Setting-up-the-LIFX-app" target="_blank">“Setting up the LIFX App.”</a> For help on connecting bulbs to a LIFX account, see <a href="https://support.lifx.com/hc/en-us/articles/204538340-LIFX-Bulb-Setup" target="_blank">“LIFX Bulb Setup.”</a></p>
                <p>Note: LIFX offers varying ways for users to easily recognize their bulbs. Each bulb can be assigned a group, a location, and a name. Assigning these attributes to each of your orbs will make it easier to identify your bulbs on our interface. For help on labelling your bulbs, see <a href="https://support.lifx.com/hc/en-us/articles/207566663-Renaming-a-LIFX-Bulb" target="_blank">"Renaming a LIFX Bulb"</a> and <a href="https://support.lifx.com/hc/en-us/articles/204593514-Moving-bulbs-to-other-groups" target="_blank">"Moving bulbs to other groups"</a></p>
            </li>

            <li>
                <h3>Make an Environmental Orb account</h3>
                <p>Sign up for an Environmental Orb account on the <a href="/account/signup">"Sign up"</a> page.</p>
            </li>

            <li>
                <h3>Configure your dashboard</h3>
                <p>Orbs and bulbs can be configured from your Dashboard. Add an orb by selecting "Add orb" and follow the onscreen prompts to configure. Bulbs represent the physical hardware you can employ to emulate an orb. Bulbs are sourced from third party integrations. All bulbs that are connected to your LIFX account should show up on your Dashboard. Enable a bulb and assign an orb to it to get it to begin emulating an orb.</p>
            </li>
        </ol>
    </div>
</div>
